@model CEGA.Models.ViewModels.MarketingPageVM
@using CEGA.Models

@{
    ViewData["Title"] = "Marketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<div class="py-4 text-center text-white mb-4" style="background: var(--brand-mid); border-radius: .75rem;">
    <h2 class="fw-bold mb-0">Marketing</h2>
</div>
<form asp-action="TestEmail" asp-controller="Marketing" method="post" class="mb-3">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-accent">Enviar correo de prueba (Graph)</button>
</form>

<form asp-action="TestEmailSmtp" method="post" class="mb-3">
    @Html.AntiForgeryToken()
    <button class="btn btn-accent">Enviar correo de prueba (SMTP)</button>
</form>

<!-- Alertas -->
@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success mb-3">@TempData["Mensaje"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger  mb-3">@TempData["Error"]</div>
}

<!-- Clientes -->
@await Html.PartialAsync("Partials/_ClientesPartial",
Model?.Clientes ?? Enumerable.Empty<ClienteMarketing>())

<hr class="my-4" />

<!-- Pools de correos -->
@await Html.PartialAsync("Partials/_PoolsPartial", Model)

<hr class="my-4" />
@{
    ViewBag.Pools = Model?.Pools ?? Enumerable.Empty<PoolCorreo>();
}
@await Html.PartialAsync("Partials/_CampaniasPartial",
Model?.Campanias ?? Enumerable.Empty<CEGA.Models.CampMarketing>())


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
