@using CEGA.Models.ViewModels.Empleados
@{
    ViewData["Title"] = "Gestión de Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Cast seguro desde ViewBag
    var vmPuestos = ViewBag.PuestosVm as CambiarPuestoVM ?? new CambiarPuestoVM();
}

<div class="container my-4">
    <h2 class="fw-bold mb-3">Gestión de Empleados</h2>

    @await Html.PartialAsync("Partials/_Puestos", vmPuestos)
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
