@using CEGA.Models.ViewModels
@model ForgotPasswordVM
@{
    ViewData["Title"] = "Recuperar contraseña";
}
<h2>@ViewData["Title"]</h2>
<form asp-action="ForgotPasswordOtp" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Enviar código</button>
</form>
