@model CEGA.Models.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Recuperar contraseña";
}

<h2 class="text-center">Recuperar contraseña</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Enviar correo</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
