<h3>Recuperar acceso</h3>
<form asp-action="RecuperarAcceso" method="post" class="vstack gap-3">
    <div class="mb-2">
        <label class="form-label">Correo registrado</label>
        <input name="email" type="email" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
